<div class="bg-white border-gray-100 dark:bg-gray-800 dark:border-gray-500 border-b rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
<h1 class="text-gray-500 dark:text-gray-400 text-sm leading-6 truncate">
Products</h1>

 <div class="flex-auto flex items-center justify-evenly">
<ul> 
	<% @products.each do |product| %>
		<li>
			<%= link_to product.title, product_path(product.id) %>
		</li>
	<% end %>
<%= link_to "New article", new_product_path %>

</ul>

</div>	
</div>


