<h1> My cart </h1>

<ul>
<% @products.each do |product| %>
	<li>
		<%= link_to product.title, product_path(product.id) %>
		<%= link_to "Delete", products_user_cart_path(product.id),
								method: :delete,
								data: {confirm: "Are you sure?"} %>
	</li>	
	<br/>

<% end %>
	<li>
		<%= link_to "Products", products_path%>
	</li>	
</ul>	
