<h1> My cart </h1>

<% @products.each do |product| %>
<ul>
	<li>
		<%= link_to product.title, product_path(product.id) %>
		<%= link_to "Delete", user_cart_path(@user_cart),
								method: :delete,
								data: {confirm: "Are you sure?"} %>
	</li>	
	<br/>
	<li>
		<%= link_to "Products", products_path%>
	</li>	
</ul>	
<% end %>